* {
    margin: 0;
    padding: 0;
    font-family: 'Riffic Free', sans-serif;
    overflow-x: hidden;


  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/*Navbar*/
.topnav .hyperlinks{
    float: right;
    text-align: center;
    text-decoration: none;
}
.topnav .hyperlinks a{
    padding: 0px 0px 0px 20px;
 color: white;
    text-decoration: none;
}

.topnav{
    padding: 10px;
    overflow: hidden;
    background-color: #1a1313;
}

.topnav ul{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}

.topnav img{
    filter: invert();
    height: 43px;
    padding-left: 10px;
}

/* Body */
body {
    color: white;
    background-image: linear-gradient(to right, #562675,#713c94, #774694, #713c94,#653486,#562675); 
    display: flex;
    flex-direction: column;
    max-width: 1930px;
 }

body ul{
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

body ul .image1, .image2{
    cursor: pointer;
    display: inline-block;
   
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center
}
.OwareLogo img{
    position: relative;
    width: 40rem;
}

.HandPhone1 img{
position: absolute;
float: right;
width: 50%;
bottom: 10rem;
}

.headline{
    position: absolute;
    top: 9rem;

}

.download-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 39rem;
    left: 3rem;
}

.google-btn{
    width: 200px;
    margin-right: 24px;
    
}
.apple-btn{
    width: 192px;
}

       

    
.tagline{


    margin-top: 30vh;
    letter-spacing: 1px;
    font-size: 35px;
    padding-left: 50px;


}
.TrailerLink{
    letter-spacing: 5px;
    cursor: pointer;
    z-index: 1000;
    font-size: 80pt;
    padding-left: 50px;
  
}
/* footer */
.footer{
    font-family: Arial, Helvetica, sans-serif;
}

.legalbottom ul{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;

}
.legalbottom ul a{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
footer{
    display: block;
    background-color: #000000;
    text-align:center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 156);
    text-decoration: none;
    font-size: 12px;
}

footer ul div{
    display: inline-block;
}

/**/ 