* {
    margin: 0;
    padding: 0;
    font-family: 'Riffic Free', sans-serif;
    overflow-x: hidden;
  }


/*Navbar*/
.topnav .hyperlinks{
    float: right;
    text-align: center;

}
.topnav .hyperlinks a{
    padding: 0px 0px 0px 20px;
 color: white;
    text-decoration: none;
}

.topnav{
    padding: 10px;
    overflow: hidden;
    background-color: #1a1313;
}

.topnav ul{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}

.topnav img{
    filter: invert();
    height: 43px;
    padding-left: 10px;
}

/* Body */
body {
    color: white;
    background-image: linear-gradient(to right, #562675,#713c94, #774694, #713c94,#653486,#562675); 
    display: flex;
    flex-direction: column;

 }

body ul{
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

body ul .image1, .image2{
    cursor: pointer;
    display: inline-block;
   
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OwareLogo img{
    position: relative;
    width: 40rem;
}

.HandPhone1 img{
    position: relative;
    display: block;
    height: 40em;
    margin-left: 58em;
    bottom: 12em;
}

.HandPhone2 img{
   display: block;
   height: 20em;
   margin-left: 50em;
   margin-top: 5em;
}

.headline-container {
    line-height: 100px;
}

.download-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 39rem;
    left: 3rem;
}

.google-btn{
    width: 200px;
    margin-right: 24px;
    
}
.apple-btn{
    width: 192px;
}    
.headline{
    position: absolute;
    top: 4rem;

}
.headline p{
    margin-top: 30vh;
    letter-spacing: 1px;
    font-size: 35px;
    padding-left: 50px;
}
.headline h1{
    letter-spacing: 5px;
    cursor: pointer;
    z-index: 1000;
    font-size: 80pt;
    padding-left: 50px;
}
/* footer */
.footer{
    font-family: Arial, Helvetica, sans-serif;
}

.legalbottom ul{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;

}
.legalbottom ul a{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
footer{
    display: block;
    background-color: #000000;
    text-align:center;
    padding: 20px;
    position: absolute;
    bottom: -24px;
    width: 100%;
    float: right;
}

footer ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 156);
    text-decoration: none;
    font-size: 12px;
}

footer ul div{
    display: inline-block;
}

/**/ 

/* Small Desktop devices ( below 1579px) */
@media screen and (max-width: 1579px) {
    
    .headline {
        position: absolute;
        top: 10rem;
    }
    
    .HandPhone2 img {
        position: absolute;
        bottom: 33rem;
        right: 28rem;
        height: 21em;
    }
    

    .headline-container{
        margin-left: 23em;
        line-height: 306px;
    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        margin-left: 26em;
        margin-top: 2em;
    }

    .download-btn img{
            width: auto;
            height: 6em;
           
        
    }
     


} 



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .OwareLogo img{
        position: relative;
        width: 20rem;
    }

    .HandPhone1 img{
        display: none;
    }
    
    .HandPhone2 img {
        display: block;
        position: absolute;
        width: 70%;
        right: 110px;
        bottom: 330px;
    }

     .headline p{
        position: relative;
        font-size: 30px;
     }
     .headline h1{
        position: relative;
        top: 300px;
        font-size: 50px;
     }
     
      .headline{
        position: absolute;
        text-align: center;
        align-items: center;
        top: -50px;
        right: 20px;
        height: 800px;
        width: 100%;
    }

    footer{
        display: block;
        background-color: #000000;
        text-align: center;
        position: absolute;
        bottom: -46px;
        width: 100%;
    }
    
    footer ul{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(156, 156, 156);
        font-size: 12px;
    }

    footer p{
        text-align: center;
        position: relative;
        right: 50px;
    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 39rem;
        left: 180px;
    }
    



}
@media only screen and (max-width: 690px) {

    .logo-container{
        display: flex;
        flex-direction: column;
    }

    .OwareLogo img{
        position: relative;
        width: 20rem;
    }

    .HandPhone1 img{
        display: none;
    }
    
    .HandPhone2 img {
        display: block;
        position: absolute;
        width: 70%;
        right: 110px;
        bottom: 330px;
    }

     .headline p{
        position: relative;
        font-size: 25px;
     }
     .headline h1{
        position: relative;
        top: 300px;
        right: 20px;
        font-size: 50px;
     }
     
      .headline{
        position: absolute;
        text-align: center;
        align-items: center;
        top: -50px;
        right: 10px;
        height: 800px;
        width: 100%;
    }

    footer{
        display: block;
        background-color: #000000;
        text-align: center;
        position: absolute;
        bottom: -46px;
        width: 100%;
    }
    
    footer ul{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(156, 156, 156);
        font-size: 12px;
    }

    footer p{
        text-align: center;
        position: relative;
        right: 50px;
    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 39rem;
        left: 130px;
    }
}
@media only screen and (max-width: 425px) {

    * {
        margin: 0 -4px 0 0;
        padding: 0;
        font-family: 'Riffic Free', sans-serif;
        overflow-x: hidden;
        
      }

      .topnav{
        background-color: #1a1313;
        height: 70px;

    }
    
    .topnav ul{
        color: #f2f2f2;
        font-size: 10px;
        position: relative;
        right: 110px;
        top: 40px;
    }
    
    .topnav img{
        height: 30px;
        position: relative;
        left: 150px;

    }
    .topnav .hyperlinks{
        display: flex;
      
 
    
    }

    .OwareLogo img{
        position: relative;
        width: 20rem;
        left: 10px;
    }

    .HandPhone1 img{
        display: none;
    }
    
    .HandPhone2 img {
        display: block;
        position: absolute;
        width: 90%;
        left: 25px;
        bottom: 370px;
    }

     .headline p{
        position: relative;
        font-size: 16px;
     }
     .headline h1{
        position: relative;
        top: 290px;
        right: 10px;
        font-size: 40px;
     }
     
      .headline{
        position: absolute;
        text-align: center;
        align-items: center;
        top: -50px;
        right: 10px;
        height: 800px;
        width: 100%;
    }

    footer{
        display: block;
        background-color: #000000;
        text-align: center;
        position: absolute;
        bottom: -80px;
        width: 100%;
    }
    
    footer ul{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(156, 156, 156);
        font-size: 8px;
    }

    footer p{
        text-align: center;
        position: relative;
        right: 50px;
    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 37rem;
        left: 30px;
        
    }

    .download-btn img{
        width: 90%;
    }
}
@media only screen and (max-width: 425px) {

    * {
        margin: 0 -5px 0 0;
        padding: 0;
        font-family: 'Riffic Free', sans-serif;
        overflow-x: hidden;
        
      }

      .topnav{
        background-color: #1a1313;
        height: 70px;

    }
    
    .topnav ul{
        color: #f2f2f2;
        font-size: 10px;
        position: relative;
        right: 95px;
        top: 40px;
    }
    
    .topnav img{
        height: 30px;
        position: relative;
        left: 125px;

    }
    .topnav .hyperlinks{
        display: flex;
      
 
    
    }

    .OwareLogo img{
        position: relative;
        width: 20rem;
        left: 1px;
    }

    .HandPhone1 img{
        display: none;
    }
    
    .HandPhone2 img {
        display: block;
        position: absolute;
        width: 90%;
        left: 25px;
        bottom: 400px;
    }

     .headline p{
        position: relative;
        font-size: 14px;
        right: 10px;
     }
     .headline h1{
        position: relative;
        top: 290px;
        right: 10px;
        font-size: 40px;
     }
     
      .headline{
        position: absolute;
        text-align: center;
        align-items: center;
        top: -50px;
        right: 10px;
        height: 800px;
        width: 100%;
    }

    footer{
        display: block;
        background-color: #000000;
        text-align: center;
        position: absolute;
        bottom: -90px;
        width: 100%;
    }
    
    footer ul{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(156, 156, 156);
        font-size: 8px;
    }

    footer p{
        text-align: center;
        position: relative;
        right: 50px;
    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 37rem;
        left: 30px;
        
    }

    .download-btn img{
        width: 90%;
    }

}
@media only screen and (max-width: 320px) {

    * {
        margin: 0 -7px 0 0;
        padding: 0;
        font-family: 'Riffic Free', sans-serif;
        overflow-x: hidden;
        
      }

      .topnav{
        background-color: #1a1313;
        height: 70px;

    }
    
    .topnav ul{
        color: #f2f2f2;
        font-size: 10px;
        position: relative;
        right: 80px;
        top: 10px;
    }
    
    .topnav img{
        height: 30px;
        position: relative;
        left: 100px;

    }
    .topnav .hyperlinks{
        display: flex;
      
    }

    .OwareLogo img{
        position: relative;
        width: 15rem;
        left: 1px;
    }

    .HandPhone1 img{
        display: none;
    }
    
    .HandPhone2 img {
        display: block;
        position: absolute;
        width: 90%;
        left: 25px;
        bottom: 400px;
    }

     .headline p{
        position: relative;
        font-size: 11px;
        right: 10px;
     }
     .headline h1{
        position: relative;
        top: 290px;
        right: 10px;
        font-size: 30px;
     }
     
      .headline{
        position: absolute;
        text-align: center;
        align-items: center;
        top: -50px;
        right: 10px;
        height: 800px;
        width: 100%;
    }

    footer{
        display: block;
        background-color: #000000;
        text-align: center;
        position: absolute;
        bottom: -110px;
        width: 100%;
    }
    
    footer ul{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(156, 156, 156);
        font-size: 8px;
        
    }

    footer p{
        position: relative;
        right: 80px;
    

    }

    .download-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 35rem;
        left: 40px;
        
    }

    .download-btn img{
        width: 80%;
    }
}
/*TEST*/